<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>FastAPI-HTMX</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"/>
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        {% endblock %}
    </head>
    <body 
    hx-get='/auth/token/'
    hx-trigger='every 29m'
    hx-swap='none'>
        <nav class="container-fluid">
            <ul>
            <li>
                <h1 data-tooltip='Index page' data-placement='bottom'
                    hx-get="/"
                    hx-trigger="click"
                    hx-push-url="true"
                >
                    TITLE
                </h1> 
            </li>
            </ul>
            {% from 'components/navbar.html' import loggedinNav, defaultNav %}
            {% if logged_in %}
                {{ loggedinNav() }}
            {% else %}
                {{ defaultNav() }}
            {% endif %}
        </nav>

        <main class="container">
        {% block body %}
        {% endblock %}
        </main>
    </body>
</html> 
