{% macro defaultNav() -%}
<lu>
<li>
    <button data-tooltip='Login' data-placement='bottom'
        hx-get='/login'
        hx-trigger='click'
        hx-push-url='true'
    >
        Login
    </button>
</li>
<li>
    <button data-tooltip='SignUp' data-placement='bottom'
        hx-get='/signup'
        hx-trigger='click'
        hx-push-url='true'
    >
        SignUp
    </button>
</li>
</lu>
{%- endmacro %}

{% macro loggedinNav() -%}
<lu>
    <li>
        <button
        hx-get='/user/home/'
        hx-trigger='click'>
            Home
        </button>
    </li>
    <li>
        <details class='dropdown'>
            <summary>Account</summary>
            <ul dir="ltr">
                <li><a hx-get='/user/'>Details</a></li>
                <li><a hx-get='/auth/logout'>Signout</a></li>
            </ul>
        </details>
    </li>
</lu>
{%- endmacro %}



<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>FastAPI-HTMX</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"/>
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        {% endblock %}
    </head>
    <body 
    class='container'
    hx-get='/auth/token/'
    hx-trigger='every 29m'
    hx-swap='none'>
        <nav>
            <ul>
            <li>
                <h1 data-tooltip='Index page' data-placement='bottom'
                    hx-get="/"
                    hx-trigger="click"
                    hx-push-url="true"
                >
                    TITLE
                </h1> 
            </li>
            </ul>
            {% if logged_in %}
                {{ loggedinNav() }}
            {% else %}
                {{ defaultNav() }}
            {% endif %}
        </nav>

        {% block body %}
        {% endblock %}
    </body>
</html> 
