{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<article>
    <form
    hx-post='/auth/signup'
    hx-swap='innerHTML'
    >
        <div class='grid'>
            <input type="text" name="first_name" id="first_name" placeholder='First Name:' maxlength='30'>
            <input type="text" name="last_name" id="last_name" placeholder='Last Name:' maxlength='30'>
        </div>
        <input type="email" name="email" id="email" placeholder='Email:' maxlength='50'>
        <input type="password" name="password" id="password" placeholder='Password' maxlength='20'>
        <input type="password" name="conf_password" id="conf_password" placeholder='Confirm Password' maxlength='20'>
        <input type="submit" value="SignUp">
    </form>
</article>

<script>
    document.addEventListener('htmx:afterRequest', (event) => {
        if(event.detail.xhr.status == 422) {
            let form = document.querySelector('form')

            let errMsg = document.querySelectorAll('#errMsg')
            if (errMsg.length === 0){
                let errMsg = document.createElement('div')
                errMsg.id = 'errMsg'
                errMsg.innerText = 'Invalid Input'

                form.appendChild(errMsg)
            }
        }
    })
</script>
{% endblock %}

