{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
    <hgroup>
        <h1>Account Details</h1>
        <p>update, delete or leave as is</p>
    </hgroup>
    <article>
        <p>
            <strong>Email: </strong>
            <span>{{ user_data[1] }}</span>
        </p>
        <p>
            <strong>First Name: </strong>
            <span>{{ user_data[3] }}</span>
        </p>
        <p>
            <strong>Last Name: </strong>
            <span>{{ user_data[4] }}</span>
        </p>
    </article>
{% endblock %}
