<nav class='container-fluid'>
    <ul>
        <li>
            <h1 data-tooltip='Index page' data-placement='bottom'
            hx-get="/"
            hx-trigger="click"
            hx-push-url="true"
            >
                TITLE
            </h1> 
        </li>
    </ul>
    <lu>
        <li>
            <button data-tooltip='Login' data-placement='bottom'
            hx-get='/login'
            hx-trigger='click'
            hx-push-url='true'
            >
                Login
            </button>
        </li>
        <li>
            <button data-tooltip='SignUp' data-placement='bottom'
            hx-get='/signup'
            hx-trigger='click'
            hx-push-url='true'
            >
                SignUp
            </button>
        </li>
    </lu>
</nav>
