package templates

templ (b Base) IndexPage() {
<article>
    <hgroup>
        <h1>This is a twitter clone</h1>
        <p>view posts or your inbox</p>
    </hgroup>

    <div class="grid">
        <a href="/posts" role="button">Posts</a>
        <a href="/inbox" role="button">Inbox</a>
    </div>
</article>
}

templ (b Base) BaseIndexPage() {
    @b.baseContent() {
        @b.IndexPage()
    }
}
