{% extends 'base.html' %}


{% block head %}
<style>
    h1 {
        text-align: center;
        text-size-adjust: xl;
        margin: 50px;
    }
</style>
{% endblock %}


{% block body %}
<main>
    <div class="container">
        <h1>Enter The Dungeon</h1>
    </div>

    <article class="container">
        <form  method="POST" style="margin-left: 5%; margin-right: 5%;">
            {{ form.hidden_tag() }}
            <div>
            {{ form.email.label }}
            {{ form.email() }}
            {{ form.password.label }}
            {{ form.password() }}
            </div>
            <div class="grid">
            {{ form.submit() }}
            <a href="/login/new" role="button" class="contrast outline">Sign Up</a>
            </div>
        </form>
    </article>
</main>
{% endblock %}